<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Student CRUD</title>
</head>
<body>
    <div class="container">
        <h1>Student Management System using CRUD Operations</h1>
        <a class="option" href="{{ url_for('create_student') }}">Add Student</a>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
