<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>CRUD Operations Demonstration For Student Management System</h1>
    <nav>
        <a href="{{ url_for('list_students') }}"class='option'>View Students</a>
        <a href="{{ url_for('create_student') }}"class='option'>Add Student</a>
        <a href="{{ url_for('search_students') }}"class='option'>Search Students</a>
    </nav>
</body>
</html>
